@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:wght@500;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');

:root {
    --color-stratBattleTactic: #294a67;
    --color-stratStrategicPloy: #246656;
    --color-stratEpicDeed: #673d29;
    --color-stratWargear: #626869;
}

.content {
    text-align: center;
    margin: 0 5px;
}

.combat_unit_img {
    max-width: 300px;
    max-height: 340px;
}

.combat_unit_param {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 250px;
}

.combat_unit_param_block {
    display: flex;
    width: 65px;
    margin: 5px;
}

.param_img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.param_number {
    font-family: 'Alegreya SC', serif;
    font-size: 24px;
}

.line {
    background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.2), transparent);
    border: 0;
    height: 1px;
    margin: 22px 0 22px 0;
    box-sizing:
        content-box;
    display: block;
}

.content_title {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.damage_content {
    display: flex;
    justify-content: center;
    border: 3px solid black;
    max-width: 280px;
    margin: auto;
    padding: 5px;
}

.damage_block {
    font-family: 'Alegreya SC', serif;
    font-size: 24px;
    margin: 0 10px;
}

.weapon_content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.weapon_block {
    width: 170px;
    height: 70px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 15px;
}

.weapon_title {
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    text-align: center;
    padding-bottom: 5px;
}

.weapon_block_info {
    display: flex;
    text-align: center;
    justify-content: center;
}

.weaponOther_block {
    padding: 10px;
    margin: 6px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 15px;
    font-family: 'Rubik', sans-serif;
    text-align: justify;
    max-width: 630px;
}

.weapon_blockTwo {
    width: 170px;
    height: 70px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 15px;
    background-color: #afbbcc;
}

.block_text_weapon {
    display: block;
    max-width: 190px;
    margin: 6px;
}

.weapon_info_text {
    display: block;
    text-align: justify;
    color: rgb(186, 38, 23);
    font-weight: 700;
    font-size: 11px;
    margin: 5px 0;
    padding: 0 10px;
}

.weapon_info {
    font-family: 'Alegreya SC', serif;
    font-size: 18px;
    margin: 0 8px;
}


























.weapon_text {
    align-self: center;
}

.weapon_img {
    width: 30px;
    height: 30px;
}

.gun_param {
    display: flex;
}

.gun_title {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: bold;
    width: 100px;
}

.abilities_block {
    background-color: #e9edf7;
    border-radius: 25px;
    max-width: 630px;
    margin: 10px auto;
    padding: 15px;
}

.abilities_title_block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.abilities_title {
    font-family: 'Rubik', sans-serif;
    align-self: center;
    font-weight: 500;
    margin-right: 6px;
}

.block_symbol {
    display: flex;
}

.symbol_text {
    font-family: 'Rubik', sans-serif;
    align-self: center;
    margin-right: 6px;
    font-weight: 500;
}

.abilities_symbol {
    width: 30px;
    height: 30px;
}

.abilities_text {
    font-family: 'Rubik', sans-serif;
    text-align: justify;
    color: #586e8a;
}






.strat {
    margin-bottom: 10px;
    max-width: 660px;
    margin: 10px auto;
    font-family: 'Rubik', sans-serif;
}

.strat_title {
    color: white;
    margin: 0 5px;
    padding: 5px;
    border-radius: 3px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
}

.strat_text {
    border-radius: 0 0 15px 15px;
    margin: -15px 5px 5px 5px;
    padding: 20px 5px 5px;
    text-align: justify;
}

.strat_text_bold {
    font-weight: 600;
}