@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;400&family=Righteous&display=swap');

a {
    text-decoration: none;
    color: black;
}

.content {
    max-width: 800px;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
}

.Combat_Unit {
    width: 310px;
    height: 70px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    overflow: hidden;
    display: flex;
    text-align: center;
    font-weight: bold;
    margin: 5px;
}

.Combat_Unit_img {
    width: 200px;
    height: 210px;
}

.Combat_Unit_text {
    font-size: 16px;
    font-family: 'Exo 2', sans-serif;
    font-weight: 200px;
    width: 100px;
    align-self: center;
}